.document {
    padding: 5% 15% 10%;
    text-align: justify;
}

body {
    background: linear-gradient(0.25turn, #D5D5D5, #1E5D88);
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p {
    font-family: "Times New Roman", sans-serif;
    font-size: 2.5vh;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    padding-bottom: 2%;
}

.d {
    background-color: white;
    padding: 5% 5% 5%;
}

.title {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    padding: 2% 15% 2%;
    margin: 2% 10% 0;
    text-align: center;
}

a {
    color: white;
    font-family: "Roboto Mono", sans-serif;
}

footer {
    padding: 2% 0 2%;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    color: white;
}

.white-text {
    color: white;
    text-decoration: none;
}
